.tablet-content {
  display: none;
  margin: 25px;
  flex-direction: column;
  gap: 25px;
}

.tablet-content > div {
  border-radius: 20px;
  padding: 10px;
  background-color: #d9d9d9;
  display: flex;
}

/* Top portion */
.tablet-content > .top-portion {
  gap: 10px;
}

.top-portion > .user-info {
  display: flex;
  flex: 1;
  border-radius: 25px;
}

.top-portion > .quick-view {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #c1bdbd;
  padding: 10px;
}

.top-portion > .quick-view > .text {
  text-align: center;
}

.top-portion > .quick-view > img {
  height: 100px;
  width: 100px;
}
.user-info {
  display: flex;
  flex-direction: column;
}

/* Middle portion */
.middle-portion {
  gap: 10px;
}
.middle-portion > div {
  flex: 1;
  background-color: #c1bdbd;
  padding: 5px;
  border-radius: 25px;
}
.middle-portion .header {
  text-align: center;
  padding: 5px;
  text-align: center;
}

.middle-portion > .upcoming-appointments ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: revert;
}
/* End portion */
.tablet-content .end-portion1 {
  background-color: transparent;
}
.end-portion1 {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
}
.tablet-content .end-portion2 {
  background-color: transparent;
}
.end-portion2 {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  justify-content: space-evenly;
}
.buttons {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  border-radius: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
}
.buttons > img {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
  .tablet-content {
    display: flex;
  }
}
